!!! 5
%html
  %head
    :javascript
      // LiveReload
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

    %link{:rel => "stylesheet", :href => "stylesheet.css"}
    %script{:src => "core.min.js"}=""
    %script{:src => "Source/DockSimple.js"}=""

    :javascript
      window.addEvent('domready', function() {
        var dockOptions = {
          undockElement: '#undocker',
          undockAt:      'top',
          undockSide:    'bottom',
          replaceElement: true,
          onDocked: function(element, dockY) {
            return console.log('docked', element, dockY);
          },
          onUndocked: function(element, undockY) {
            return console.log('undocked', element, undockY);
          }
        }

        window.docker = new DockSimple('#menu', dockOptions);
      });


  %body
    - 3.times do
      .filler

    - 10.times do |i|
      .menu{:class => "number-#{i + 1}"}
        %ul
          - 5.times do
            %li &nbsp;

      - 5.times do 
        .filler
