!!!
%html
  %head
    :javascript
      // LiveReload
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

    %link{:rel => "stylesheet", :href => "stylesheet.css"}
    %script{:src => "core.min.js"}=""
    %script{:src => "Source/DockSimple.js"}=""

    :javascript
      window.addEvent('domready', function() {
        var dockOptions = {
          undockElement: '#undocker',
          undockAt:      'top',
          undockSide:    'bottom',
          replaceElement: true,
          onDocked: function(element) {
            return console.log('docked', element);
          },
          onUndocked: function(element) {
            return console.log('undocked', element);
          }
        }

        window.docker = new DockSimple('#menu', dockOptions);
      });


  %body
    - 3.times do
      .filler

    #menu
      %ul
        - 5.times do
          %li &nbsp;

    - 5.times do 
      .filler

    #undocker

    -5.times do
      .filler
