.filler {
  border: 2px solid #4b97ff;
  height: 200px;
  width: 100%;
}

#menu {
  border: 2px solid #4bffb1;
  display: block;
  width: 100%;
}
#menu.docked {
  border-left: 0 none;
  left: 0;
  position: fixed;
  top: 0;
}
#menu ul {
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
#menu li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  width: 19%;
}

#undocker {
  border: 5px solid #fe415b;
}
