.filler
  border: 2px solid #4B97FF
  height: 200px
  width: 100%

#menu
  display: block
  width: 100%

  ul
    border: 2px solid #4BFFB1
    padding: 10px 0

  li
    display: inline-block
    list-style-type: none
    text-align: center
    width: 19%

#undocker
  border: 5px solid #FE415B
